.about-us {
  width: 260px;
  margin: auto;
  margin-bottom: 58px;
}

.about-us__title {
  margin-bottom: 28px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.about-us__list {
  .no-list-style;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.about-us__item {
  margin-bottom: 32px;
}
