.about-us {
  width: 320px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 58px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    margin: auto;
    min-width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 75px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 175px;
    padding-right: 0;
    padding-bottom: 53px;
    min-width: 1050px;
    position: relative;
    top: -72px;
  }
}

.about-us__title {
  margin-bottom: 28px;
  text-align: left;

  @media (min-width: @tablet-width) {
    margin-bottom: 42px;
    text-align: left;
  }
}

.about-us__list {
  .no-list-style;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    display: flex;
    flex-wrap: wrap;
  }
}

.about-us__item {
  margin-bottom: 28px;
  padding-top: 54px;
  max-width: 260px;

  &--materials {
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    background-position: 8px 0;
  }

  &--price {
    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--likes {
    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
    background-position: 6px 5px;
    padding-top: 56px;
  }

  &--hand-made {
    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
    background-position: 4px 5px;
    padding-top: 56px;
  }

  &--producers {
    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
    background-position: 0 5px;
  }

  &--package {
    background-image: url("../img/icon-feature-gift.svg");
    background-repeat: no-repeat;
    background-position: 3px 3px;
    padding-top: 56px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 56px;

    &--materials {
      order: -2;
      margin-bottom: 56px;
      margin-right: 130px;
    }

    &--price {
      margin-bottom: 56px;
      margin-right: 100px;
    }

    &--producers {
      max-width: 300px;
    }

    &--hand-made {
      order: -1;
    }

    &--likes {
      order: 1;
      margin-bottom: 56px;
      margin-right: 125px;
    }

    &--package {
      order: 2;
    }
  }

  @media (min-width: @desktop-width) {
    &--materials {
      margin-bottom: 56px;
      margin-right: 146px;
    }

    &--price {
      margin-bottom: 56px;
      margin-right: 116px;
    }

    &--producers {
      max-width: 300px;
    }

    &--hand-made {
      order: -1;
    }

    &--likes {
      margin-bottom: 56px;
      margin-right: 139px;
    }

    &--package {
      order: 2;
    }
  }
}
