.developed {
  width: 260px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 23px;
  padding-left: 40px;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  border-top: 1px solid @special-grey;

  @media (min-width: @tablet-width) {
    width: 185px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    padding-left: 0;
  }
}

.developed__link {
  display: flex;
  width: 27px;
  min-height: 34px;

  @media (min-width: @tablet-width) {
    width: 185px;
  }
}

.developed__logo {
  margin-left: 27px;
}
