.developed {
  width: 260px;
  margin: auto;
  margin-top: 5px;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  border-top: 1px solid @special-grey;

  @media (min-width: @tablet-width) {
    width: 185px;
    margin: 0;
    border: none;
  }
}

.developed__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 182px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 19px;
  line-height: 21px;

  @media (min-width: @tablet-width) {
    width: 185px;
    margin: 0;
    margin-top: 15px;
  }
}

.developed__text {
  @media (min-width: @tablet-width) {
    margin: 0;
    margin-left: 5px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 2px;
  }
}

.developed__logo {
  display: block;
  width: 27px;
  height: 34px;
  fill: @basic-green;
}

.developed__link:hover .developed__logo {
  fill: @middle-green;
}

.developed__link:active .developed__logo {
  fill: @middle-green;
  opacity: 0.3;
}
