.main-footer {
  background-color: @background-grey;
}

.main-footer__wrapper {
  @media (min-width: @tablet-width) {
    min-height: 143px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 58px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 55px;
    padding-right: 55px;
  }
}

.main-footer__logo {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    width: 102px;
    height: 34px;
  }
}

.main-footer__logo-image {
  @media (min-width: @tablet-width) {
    display: block;
    width: 102px;
    height: 34px;
  }
}
