.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(@basic-white, 0.9);
}

.modal__active {
  display: block;
}

.modal__wrapper {
  display: block;
  text-align: center;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 4;

  width: 320px;
  min-height: 336px;
  padding: 10px;

  transform: translate(-50%, -50%);
  background-color: @basic-white;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  @media (min-width: @tablet-width) {
    width: 566px;
  }
}

.modal__title {
  width: 175px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  font-weight: bold;
  color: @basic-black;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 381px;
    font-size: 30px;
    line-height: 57px;
  }
}

.modal__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  text-align: center;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 350px;
    margin-left: 90px;
  }
}

.modal__text {
  font-size: 15px;
  font-weight: bold;
  color: @basic-black;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}
