.page-header {
  position: relative;
  box-sizing: border-box;
  background-color: @basic-white;
  border-top: 1px solid @special-grey;
  border-bottom: 1px solid @special-grey;
}

.page-header__wrapper {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 116px;
}

.page-header__logo {
  display: block;
  width: 86px;
  height: 35px;
}
