.page-title {
  margin: 0;
  padding-top: 73px;
  padding-bottom: 73px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  background-color: @background-grey;
}

.page-title--main-page {
  box-sizing: border-box;
  padding-top: 72px;
  padding-bottom: 120px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -17px;
}
