.product-categories {
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.product-categories__list {
  .no-list-style;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.product-categories__item {
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: @basic-white;
  background-color: @basic-green;
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-top: 24px;
  padding-bottom: 31px;

  &--toys {
    background-color: @dark-green;
  }

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.product-categories__link {
  display: block;
  width: 130px;
  text-decoration: none;
}
