.product-card {
  width: 260px;
}

.product-card__image {
  display: block;
  max-width: 100%;
}

.product-card__link {
  display: block;
  color: @basic-black;
  text-decoration: none;
}

.product-card__wrapper {
  box-sizing: border-box;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid @special-grey;
}

.product-card__title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.product-card__description {
  margin-top: 0;
  margin-bottom: 17px;
  font-size: 13px;
  line-height: 30px;
  color: @basic-grey;
}

.product-card__price-wrapper {
  box-sizing: border-box;
  padding-top: 23px;
  border-top: 1px solid @special-grey;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}

.product-card__button {
  width: 20px;
  min-height: 19px;
  border: none;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}
