.production-process {
  width: 320px;
  padding-right: 30px;
  padding-left: 30px;
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
  }
}

.production-process__wrapper {
  width: 260px;
  box-sizing: border-box;
  margin-bottom: 57px;
  border: 1px solid @special-grey;

  @media (min-width: @tablet-width) {
    width: 668px;
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 112px;
    margin-bottom: 103px;
  }
}

.production-process__wrapper:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.production-process__wrapper:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.production-process__title {
  margin-top: 20px;
  margin-bottom: 26px;
  padding-left: 90px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 32px 8px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding-left: 105px;
    background-position: 41px 15px;
    margin-top: 0;
    padding-top: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 22px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 73px;
    padding-left: 62px;
    padding-right: 62px;
    background-position: 62px 20px;
  }
}

.production-process__video-player {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    width: 668px;
    height: 455px;
    order: -1;
    margin-bottom: 15px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-bottom: 0;
  }
}

.production-process__text {
  margin: 0;
  padding-left: 34px;
  padding-bottom: 41px;
  font-size: 13px;
  line-height: 24px;
  color: @basic-grey;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 62px;
    padding-right: 36px;
    padding-bottom: 51px;
  }
}

.production-process__link {
  width: 192px;
  box-sizing: border-box;
  margin-bottom: 33px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    width: 584px;
    margin-bottom: 44px;
    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
    margin-bottom: 60px;
    margin-top: 0;
    margin-left: 62px;
  }
}
