.product-of-the-week {
  padding-bottom: 42px;
  margin-bottom: 31px;
}

.product-of-the-week__title {
  margin-left: 30px;
  margin-bottom: 3.5px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.product-of-the-week__subtitle {
  margin-left: 30px;
  margin-bottom: 17.5px;
  margin-top: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-green;
}

.product-of-the-week__description {
  width: 260px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 21px;
  line-height: 24px;
}

.product-of-the-week__properties {
  width: 260px;
  margin: auto;
  margin-bottom: 28px;
}

.product-properties__name {
  font-weight: normal;
  text-align: left;
}

.product-of-the-week__image {
  display: block;
  max-width: 100%;
  margin: auto;
  margin-bottom: 25px;
}

.product-of-the-week__price {
  display: block;
  width: 260px;
  margin: auto;
  margin-bottom: 24px;
  color: @basic-grey;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.product-of-the-week__button {
  display: block;
  width: 260px;
  min-height: 52px;
  margin: auto;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}
