.production-process {
  width: 260px;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 58px;
  border: 1px solid @special-grey;
}

.production-process__title {
  margin-top: 22px;
  margin-bottom: 26px;
  padding-left: 90px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.production-process__video-player {
  margin-bottom: 35px;
}

.production-process__text {
  margin: 0;
  padding-left: 34px;
  padding-bottom: 41px;
  font-size: 13px;
  line-height: 24px;
  color: @basic-grey;
}

.production-process__link {
  width: 192px;
  box-sizing: border-box;
  margin-bottom: 33px;
  line-height: 16px;
}
