.site-list {
  .no-list-style;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.site-list__item {
  box-sizing: border-box;
  min-height: 79px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 76px;
  border-top: 1px solid @special-grey;
  background-repeat: no-repeat;
}
