.testimonials {
  margin-bottom: 77px;
  position: relative;
  top: -8px;

  @media (min-width: @tablet-width) {
    margin-bottom: 62px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 130px;
    top: -115px;
  }
}

.testimonials::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 6px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: 102%;
  bottom: -50px;

  @media (min-width: @tablet-width) {
    height: 17px;

    bottom: 0;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 1050px;
    height: 23px;
    background-size: 100%;
    bottom: -70px;
    margin-left: auto;
    margin-right: auto;
  }
}

.testimonials__wrapper {
  width: 320px;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 48px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-bottom: 51px;
    background-size: 350px;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 175px;
    padding-right: 0;
    padding-top: 35px;
    padding-bottom: 30px;
    width: 1050px;
    top: 0;
    background-position: 0 0;
  }
}

.testimonials__list {
  .no-list-style;
}

.testimonials__title {
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 34px;
  }
}

.testimonials__review {
  color: @basic-grey;
  line-height: 30px;
  padding-bottom: 36px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    padding-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 46px;
    width: 875px;
  }
}

.testimonials__author {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 6px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding-bottom: 2px;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;
  }
}

.testimonials__username {
  color: @basic-grey;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    padding-bottom: 30px;
    line-height: 30px;
  }
}

.testimonials__button-wrapper {
  display: flex;
  margin-bottom: 38px;
  position: relative;
}

.testimonials__button {
  display: block;
  box-sizing: border-box;
  width: 130px;
  min-height: 52px;
  background-color: transparent;
  border: 1px solid @special-grey;
  background-repeat: no-repeat;
  background-position: 38px 13px;
  outline: none;

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }

  @media (min-width: @tablet-width) {
    &--prev {
      position: absolute;
      border: none;
      bottom: 30px;
      right: 65px;
    }

    &--next {
      position: absolute;
      border: none;
      bottom: 30px;
      right: -23px;
    }
  }

  @media (min-width: @desktop-width) {
    &--prev {
      position: absolute;
      border: none;
      right: 65px;
    }

    &--next {
      position: absolute;
      border: none;
      right: -24px;
    }
  }
}

.testimonials__button:hover {
  opacity: 0.6;
}

.testimonials__button:active {
  opacity: 0.3;
}

.testimonials__write {
  padding-bottom: 13px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 80px;
    right: 50px;
    width: 175px;
    padding-bottom: 13px;
    padding-top: 15px;
    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    right: 0;
    top: 76px;
  }
}
