.testimonials{
  width: 260px;
  margin: auto;
}

.testimonials__list {
  .no-list-style;
}

.testimonials__title {
  margin-bottom: 14px;
}

.testimonials__review {
  color: @basic-grey;
  line-height: 30px;
  padding-bottom: 33px;
  margin: 0;
}

.testimonials__author {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 17px;
}

.testimonials__username {
  color: @basic-grey;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 30px;
}

.testimonials__button-wrapper {
  display: flex;
  margin-bottom: 38px;
}

.testimonials__button {
  display: block;
  box-sizing: border-box;
  width: 130px;
  min-height: 52px;
  background-color: transparent;
  border: 1px solid @special-grey;
  background-repeat: no-repeat;
  background-position: 38px 13px;

    &--prev {
      background-image: url("../img/icon-left-arrow.svg");
    }

    &--next {
      background-image: url("../img/icon-right-arrow.svg")
    }
}
